@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  max-width: 1920px;
  margin: auto;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR STYLING */
a.nav-link{
  font-family: 'Roboto', sans-serif;
  color:white !important;
  /* font-size: 1.2vw; */
}

.active a.nav-link p{
  color: #200660;
  border: 2px solid #EFCA48;
  background-color: #EFCA48;
}
.nav-link:hover{
  color:#EFCA48 !important;
}
#navlogo{
  height:90px;
}

@media (max-width:992px) {
  .active a.nav-link p{
    color: #EFCA48;
    border: none;
    background: none;
  }
  .navbar-toggler-icon{
    height:35px;
  }
  .navbar-toggler{
    font-size: 2rem !important;
  }
  #navlogo{
    height:70px;
  }
}

#mobNavBarToggle{
  cursor: pointer;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgb(255,255,255,0) !important;
}
/* NAVBAR STYLING */

/* LANDING STYLING */
#LandingCover{
  background-image: url('../img/cover_image_2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  height: 100vh;
}

.landingText{
  font-family: 'Roboto', sans-serif;
  /* font-size: 3.75vw; */
  font-size: 55px;
  font-weight: 100;
}
.landingText b{
  font-weight: 700;
}

.landingTextSmall{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.landingButton{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #EFCA48;
  background-color: #EFCA48;
}

@media (max-width:992px) {
  .landingText{
    font-size: 45px;
  }
  .landingButton{
    font-size: 14px;
  }
}

@media (max-width:768px) {
  #LandingCover{
    background-size: cover;
  }
  .landingText{
    font-size: 5.4vw;
  }
  .landingTextSmall{
    font-size: 14px;
  }
  .landingButton{
    font-size: 2vw;
  }
}

.scrollArrow{
  color: white;
  font-size: 35px;
  opacity: 0.7;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #000, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media only screen and (min-width: 762px) {
  #glowingArrow{
    display: none;
  }
}
/* LANDING STYLING */

/* Five Step Styling */

.FiveStepText{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /* font-size: 3.75vw; */
  font-size: 45px;
  font-weight: 700;

}

.stepsImg{
  width: 80%;
}
.stepsText{
  text-align: center !important;
  font-size: 15px;
}
.stepsText2{
  text-align: center !important;
  font-size: 15px;
}

@media (max-width:992px) {
  .FiveStepText{
    font-size: 35px;
  }
  .stepsImg{
    width: 25%;
    height: 25%;
  }
  .stepsText{
    width: 35%;
    padding-bottom: 10px;
    /* font-size: 15px; */
  }
  .stepsText2{
    padding-bottom: 10px;
    /* font-size: 2.5vw; */
  }
}

@media (max-width:768px) {
  .FiveStepText{
    font-size: 5.2vw;
  }
}


/* What We Offer Styling */

/* #WeOffer{
  height: 800px;
} */

.offerImg{
      max-height: 80%;
      max-width: 60%;
}
.offerHeading{
  font-weight: 700;
  font-size: 24px;
  color: #EFCA48;
  text-align: center;
}
.offerText{
  text-align: center !important;
  font-size: 15px;
}

.rocket img{
  width: 30%;
  text-align: center;
}

@media (max-width:768px) {
  .offerImg{
    width: 55%;
    height: 55%;
  }
  .offerText{
    /* width: 35%; */
    padding-bottom: 10px;
    /* font-size: 2.5vw; */
  }
}

.LearnButton{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color:white;
  border: 2px solid #200660;
  background-color: #200660;
  border-radius: 20px;
}

@media (max-width:992px) {
  .LearnButton{
    font-size: 14px;
  }
}

.carArrow{
  font-size: 25px;
  font-weight: 900;
}
#smallCarousel .carousel-inner{
  min-height: 55vh;
}
@media only screen and (max-width: 992px) {
  #largeNoCarousel{
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #smallCarousel{
    display: none;
  }
  .rocket img{
    width: 40%;
    text-align: center;
  }
}

/* What the Community Says Styling */
#CommunitySays{
  /* background-image: url('../img/ladder.jpg'); */
  background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.9)), url("../img/ladder.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.communityimg{
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.commName{
  font-weight: 400;
  font-size: 20px;
}
.commInfo{
  font-weight: 400;
  font-size: 13px;
}

@media only screen and (max-width: 992px) {
  #largeNoCarousel2{
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #smallCarousel2{
    display: none;
  }
}


/* About Us Styling */

@media (max-width:762px) {
  iframe{
    height: 300px;
  }
}
/* Our Partners Styling */
.partnersImg{
  width: 100%;
}

@media (max-width:992px) {

  .partnersImg{
    width: 25%;
    height: 25%;
  }
}

/* Get Connected Styling */
.connectImg{
  width: 100%;
  /* max-width: 1024px; */
  /* width: 80vw; */
  /* height: 80vh; */
}

.form-control{
  background-color: #200660;
  color: white;
}

.form-control:focus {
  background-color: #200660;
  color: white;
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
 }
 label{
   color: #200660;
   background-color: #EFCA48;
   border-radius: 10px;
   padding: 5px 10px;
 }

 /* Footer Styling */
 #Footer{
   /* height: 500px; */
   background-color:#13153E;
   color: white;
 }
 .FooterRow{
   text-align: center !important;
 }
.FooterHeaders{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center !important;
}

.footerTextSmall{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width:762px) {
  .footerTextSmall{
    text-align: center;
  }
  .FooterHeaders{
    font-size: 20px;
  }
  .FooterSubHeaders{
    font-size: 14px;
  }
}

.footerButton{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid #EFCA48;
  background-color: #EFCA48;
}
.footerIcon{
  font-size: 35px;
}
.email{
  background-color: grey;
  text-align: center;
}
